@font-face {
    font-family: HelveticaRoman;
    src: url("assets/HelveticaRoman.ttf");
}
// url: 'assets/images/bacon.svg',
$primary-color: #fff;
$font-stack: HelveticaRoman;

body {
    display: inline-flex;
    width: 100%;
    background-color: mediumpurple;
}

#email,
#firstName,
#lastName,
#zip {
    text-decoration: none;
    background-color: white;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    width: 12rem;
    width: 26rem;
    height: 2rem;
}

section {
    border: 3px solid;
    width: 641px;
    padding: 25px;
    margin-right: 14.5rem;
    height: 646px;
    margin-top: 25px;
    border-radius: 5px;
    font-family: HelveticaRoman;

    .form2,
    .form3,
    .form4 {
        margin-top: 1.3rem;
    }

    .form1,
    .form2,
    .form3,
    .form4 {
        margin-left: 1rem;
    }

    p.info {
        margin-top: 1.4rem;
        line-height: 1.6rem;
        margin-left: 1rem;
    }

    .checkYes {
        margin-top: 1rem;
    }

    .checkNo {
        margin-top: 1rem;
    }

    .check1, .check2 {
        display: flex;
    }

    .noId, .yesId {
        margin-left: 0.5rem;
        font-size: 1.05rem;
        margin-top: 0.5rem;
        line-height: 20px;
    }

    .box {
        border: 2px solid pink;
        width: 45px;
        margin-top: 0.3rem;
        height: 27px;
        margin-left: 0.9rem;
    }

    #box2 {
        border: 2px solid pink;
        width: 45px;
        margin-top: 0.7rem;
        height: 27px;
        margin-left: 0.9rem;
        cursor: pointer;
    }
    //  .noId{
    //    margin-left: 3rem;
    //    font-size: 1.05rem;
    //    margin-top: 0.5rem;
    //  }
}

form {
    margin-top: 1rem;
}

.container {
    #checkYes {
        cursor: pointer;
    }

    button#submitBtn {
        margin-top: 0.6rem;
        margin-left: 0.9rem;
        background-color: #b82d2d;
        border: none;
        color: #fff;
        width: 25.7rem;
        height: 2.7rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    h2 {
        font-size: 2rem;
        line-height: 44px;
        margin: 0 auto 0 1rem;
    }
}

article {
    // margin-top: 5rem;
    width: 50%;
    margin-left: 13.5rem;

    .line {
        border: 2px solid pink;
        border-right-style: none;
        border-top-style: none;
        border-left-style: none;
        width: 24.9rem;
        margin-top: 0.6rem;
    }

    img {
        width: 65%;
        margin-top: 1rem;
        width: 51%;
        margin-left: 4.5rem;
    }

    .articleInfo {
        width: 81%;
        font-size: 1.19rem;
        font-family: $font-stack;
        margin-top: 1.5rem;
        line-height: 23px;
    }

    .articleHeader h1 {
        background-image: url("assets/vote.png");
    }

    .articleHeader h2 {
        font-size: 1.6rem;
        margin: 0 auto 0 3rem;
        font-family: HelveticaRoman;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 70px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    left: 0;
}


@media screen and (max-width: 400px) {

  body{
    display: block;
  }

  article{
    margin: 0 auto;
  }
  .articleHeader{
    margin: 0;
  }

  section{
    margin: 0 auto;
  }

}
