@font-face {
    font-family: HelveticaRoman;
    src: url("assets/HelveticaRoman.ttf");
}

$primary-color: #fff;
$font-stack:    HelveticaRoman;


body {
    display: inline-flex;
    width: 100%;
}

#email,
#firstName,
#lastName,
#zip {
    text-decoration: none;
    background-color: white;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    width: 12rem;
    width: 26rem;
    height: 2rem;
}

section {
    // color: blue;
    border: 3px solid;
    width: 641px;
    padding: 25px;
    margin-right: 14.5rem;
    height: 646px;
    margin-top: 25px;
    border-radius: 5px;
    font-family: HelveticaRoman;



    .form2, .form3, .form4 {
      margin-top:1.3rem;
    }

    .form1, .form2, .form3, .form4 {
      margin-left: 1rem;
    }

    p.info{
      margin-top: 1.4rem;
    line-height: 1.6rem;
    margin-left: 1rem;
    }

    .checkYes{
        margin-top: 1rem;
    }
     .checkNo {
       margin-top:1rem;
     }

}





form {
    margin-top: 1rem;
}

.container {
    #checkYes {
        cursor: pointer;
    }





    button#submitBtn {
      margin-top: 2.6rem;
      margin-left: 0.9rem;
      background-color: #b82d2d;
      border: none;
      color: #fff;
      width: 25.7rem;
      height: 2.7rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.5rem;
      cursor: pointer;


    }

    h2 {
        font-size: 2rem;
        line-height: 44px;
        margin: 0 auto;
        margin-left: 1rem;
    }
}




article {
    margin-top: 5rem;
    width: 50%;
    margin-left: 13.5rem;

    .line {
        border: 2px solid pink;
        border-right-style: none;
        border-top-style: none;
        border-left-style: none;
        width: 23rem;
    }

    .articleInfo {
      width: 81%;
      font-size: 1.19rem;
      font-family: $font-stack;
      margin-top: 1.5rem;
      line-height: 23px;
    }

    .articleHeader h2 {
        margin-left: 2.6rem;
        font-size: 1.6rem;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 70px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    left: 0;
}
