@font-face {
  font-family: 'helvetica';
  src: url("helvetica_neue_ce_55_roman-webfont.woff2") format("woff2"), url("helvetica_neue_ce_55_roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/screen.scss */
body {
  display: -webkit-inline-flex;
  display: inline-flex;
  display: inline-flex;
  width: 100%;
  background-color: black;
}
/* line 23, ../sass/screen.scss */
body article {
  width: 50%;
  margin-left: 13.5rem;
  color: #FFFFFF;
}
/* line 28, ../sass/screen.scss */
body article .articleHeader h2 {
  margin: 0 auto 0 2.5rem;
  font-size: 1.75rem;
  font-family: helvetica;
}
/* line 34, ../sass/screen.scss */
body article img {
  margin-top: 0.8rem;
  width: 52.5%;
  margin-left: 3.9rem;
}
/* line 40, ../sass/screen.scss */
body article .line {
  border: 2px solid #FFFFFF;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  width: 24.9rem;
  margin-top: 0.6rem;
}
/* line 49, ../sass/screen.scss */
body article .articleInfo {
  width: 84%;
  font-size: 1.19rem;
  font-family: helvetica;
  margin-top: 1.35rem;
  line-height: 23px;
}
/* line 56, ../sass/screen.scss */
body article .articleInfo p.p2, body article .articleInfo p.p3, body article .articleInfo p.p4 {
  margin-top: 1.5rem;
}
/* line 62, ../sass/screen.scss */
body section {
  border: 3px solid;
  width: 450px;
  height: 646px;
  padding: 25px;
  margin-right: 14.6rem;
  margin-top: 24px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-family: helvetica;
  color: #FFFFFF;
}
/* line 73, ../sass/screen.scss */
body section h2 {
  font-size: 2rem;
  line-height: 44px;
  margin: 0 auto 0 1rem;
}
/* line 79, ../sass/screen.scss */
body section form {
  margin-top: 1rem;
  margin-right: 0.7rem;
}
/* line 83, ../sass/screen.scss */
body section form label {
  font-size: 1.15rem;
}
/* line 87, ../sass/screen.scss */
body section form .form2, body section form .form3 {
  margin-top: 0.9rem;
}
/* line 91, ../sass/screen.scss */
body section form .form1, body section form .form2, body section form .form3, body section form .form4 {
  margin-left: 1rem;
  color: #FFFFFF;
}
/* line 96, ../sass/screen.scss */
body section form .form4 {
  margin-top: 0.95rem;
}
/* line 100, ../sass/screen.scss */
body section form #email, body section form #firstName, body section form #lastName, body section form #zip {
  text-decoration: none;
  background-color: transparent;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 12rem;
  width: 25.5rem;
  height: 2rem;
  color: #FFFFFF;
}
/* line 114, ../sass/screen.scss */
body section p.info {
  margin-top: 0.8rem;
  line-height: 1.6rem;
  margin-left: 1rem;
  font-size: 1.11rem;
}
/* line 121, ../sass/screen.scss */
body section .check1, body section .check2 {
  display: flex;
}
/* line 124, ../sass/screen.scss */
body section .check1 .box1, body section .check2 .box1 {
  border: 2px solid #FFFFFF;
  width: 41px;
  height: 27px;
  margin-left: 1rem;
  cursor: pointer;
  margin-top: 0.7rem;
  font-size: 1.7rem;
}
/* line 134, ../sass/screen.scss */
body section .check1 .yesId, body section .check2 .yesId {
  margin-left: 1rem;
  font-size: 1.05rem;
  margin-top: 0.2rem;
  line-height: 23px;
}
/* line 141, ../sass/screen.scss */
body section .check1 .box2, body section .check2 .box2 {
  border: 2px solid #FFFFFF;
  width: 45px;
  height: 27px;
  margin-left: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}
/* line 149, ../sass/screen.scss */
body section .check1 .box2 p, body section .check2 .box2 p {
  display: none;
}
/* line 154, ../sass/screen.scss */
body section .check1 .noId, body section .check2 .noId {
  margin-left: 1rem;
  font-size: 1.05rem;
  margin-top: 0;
  line-height: 23px;
}
/* line 162, ../sass/screen.scss */
body section .bottomInfo {
  display: none;
}
/* line 166, ../sass/screen.scss */
body section button#submitBtn {
  margin-top: 0.2rem;
  margin-left: 0.9rem;
  background-color: #b82d2d;
  border: none;
  color: #fff;
  width: 25.7rem;
  height: 2.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
}
/* line 183, ../sass/screen.scss */
body footer p.fullFoot {
  position: fixed;
  top: 46.5rem;
  left: 70px;
  width: 100%;
  text-align: center;
  font-size: 1.08rem;
  left: 0;
  font-family: helvetica;
  color: #FFFFFF;
}
/* line 195, ../sass/screen.scss */
body footer p.mobileFoot {
  display: none;
}

@media screen and (max-width: 400px) {
  /* line 201, ../sass/screen.scss */
  body {
    display: block;
  }
  /* line 204, ../sass/screen.scss */
  body article {
    margin: 0 auto;
    width: 100%;
  }
  /* line 208, ../sass/screen.scss */
  body article .articleHeader {
    margin: 0;
    display: flex;
  }
  /* line 212, ../sass/screen.scss */
  body article .articleHeader h2 {
    width: 100%;
    font-size: 30px;
    margin: 29px 15px auto;
    font-size: 1.23rem;
  }
  /* line 219, ../sass/screen.scss */
  body article .articleHeader img {
    width: 111px;
    height: 62px;
    margin-left: 1rem;
    margin-top: 0;
  }
  /* line 227, ../sass/screen.scss */
  body article .line {
    display: none;
  }
  /* line 231, ../sass/screen.scss */
  body article .articleInfo {
    width: 100%;
    font-size: 1.19rem;
    font-family: helvetica;
    margin-top: 0.5rem;
    line-height: 22px;
  }
  /* line 239, ../sass/screen.scss */
  body article p.p1 {
    font-size: 0.9rem;
    width: 90%;
    margin: 0 auto;
  }
  /* line 245, ../sass/screen.scss */
  body article .p2, body article .p3, body article .p4 {
    display: none;
  }
  /* line 250, ../sass/screen.scss */
  body section {
    margin-top: 1rem;
    width: 340px;
    height: 582px;
    margin-left: 1.2rem;
    padding: 0;
  }
  /* line 257, ../sass/screen.scss */
  body section h2 {
    font-size: 1.2rem;
    margin-top: 0.9rem;
    line-height: 1.8rem;
    margin-left: 1.7rem;
    width: 98%;
    padding: 0;
  }
  /* line 266, ../sass/screen.scss */
  body section form {
    margin-top: 0.8rem;
    margin-left: 0.7rem;
  }
  /* line 270, ../sass/screen.scss */
  body section form label {
    font-size: 0.8rem;
  }
  /* line 274, ../sass/screen.scss */
  body section form .form1, body section form .form2, body section form .form3, body section form .form4 {
    margin-top: 1rem;
  }
  /* line 278, ../sass/screen.scss */
  body section form #email, body section form #firstName, body section form #lastName, body section form #zip {
    width: 280px;
    height: 17.5px;
  }
  /* line 284, ../sass/screen.scss */
  body section p.info {
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-left: 1rem;
    font-size: 0.74rem;
    width: 87%;
    margin: 14px 27px auto;
  }
  /* line 294, ../sass/screen.scss */
  body section .check1 .box1 {
    border: 2px solid #FFFFFF;
    width: 18px;
    height: 20px;
    margin-left: 1.75rem;
    cursor: pointer;
    margin-top: 1.2rem;
    font-size: 1.7rem;
  }
  /* line 304, ../sass/screen.scss */
  body section .check1 .yesId {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    line-height: 19px;
    margin-top: 0.9rem;
    width: 80%;
  }
  /* line 314, ../sass/screen.scss */
  body section .check2 .box2 {
    border: 2px solid #FFFFFF;
    width: 26px;
    height: 20px;
    margin-left: 1.75rem;
    cursor: pointer;
    margin-top: 0.2rem;
    font-size: 1.7rem;
  }
  /* line 324, ../sass/screen.scss */
  body section .check2 .noId {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    line-height: 19px;
  }
  /* line 331, ../sass/screen.scss */
  body section .bottomInfo {
    display: flex;
    width: 100%;
  }
  /* line 335, ../sass/screen.scss */
  body section .bottomInfo p {
    margin: 3px auto auto 27px;
    font-size: 0.8rem;
    line-height: 1.1rem;
    width: 85%;
  }
  /* line 343, ../sass/screen.scss */
  body section button#submitBtn {
    width: 284px;
    height: 34px;
    margin: 0.97rem 0 0 1.75rem;
    font-size: 0.95rem;
  }
  /* line 352, ../sass/screen.scss */
  body footer p.fullFoot {
    display: none;
  }
  /* line 356, ../sass/screen.scss */
  body footer p.mobileFoot {
    display: flex;
    position: fixed;
    left: 70px;
    width: 80%;
    font-size: 0.85rem;
    left: 0;
    font-family: helvetica;
    margin: 1.3rem auto 0 1.8rem;
    line-height: 17px;
    color: #FFFFFF;
  }
}
